<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyh.vendingMachine.mapper.CashMapper">
	<!-- 지폐, 동전 개수 업데이트 -->
	<update id="addUpdate" parameterType="map">
		UPDATE
			cash
		SET
			cash_stock = cash_stock + 1
		WHERE
			cash_type = ${coin};
	</update>
	
	<!-- 현금 재고 출력 -->
	<select id="cashStock" resultType="map">
		SELECT
			cash_key AS cashKey, 
			cash_type AS cashType, 
			cash_stock AS cashStock
		FROM
			cash	
	</select>
	
	<!-- 현금 재고 개별 충전 -->
	<update id="addCashStock">
		UPDATE
			cash
		SET
			cash_stock = cash_stock + ${addCashStock}
		WHERE
			cash_key = ${cashKey}
	</update>
	
 <update id="updateCashStock" parameterType="com.lyh.vendingMachine.dto.Change">
    UPDATE cash
    SET 
    cash_stock = CASE 
        WHEN cash_key = 2 THEN cash_stock - #{cashBack10000}
        WHEN cash_key = 3 THEN cash_stock - #{cashBack5000}
        WHEN cash_key = 4 THEN cash_stock - #{cashBack1000}
        WHEN cash_key = 5 THEN cash_stock - #{cashBack500}
        WHEN cash_key = 6 THEN cash_stock - #{cashBack100}
        WHEN cash_key = 7 THEN cash_stock - #{cashBack50}
        WHEN cash_key = 8 THEN cash_stock - #{cashBack10}
        ELSE cash_stock
    END
    WHERE cash_key IN (2, 3, 4, 5, 6, 7, 8);
</update>

<update id="updateBalance0">
    UPDATE balance
    SET balance = 0;
</update>
    
</mapper>